{{!-- Creo una vista de HandleBars! --}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
        {{!-- Con el simbolo > le digo que busque una partial con el nombre --}}
    {{> header}}

    <p>{{pageTitle}}</p>

    {{!-- Con el simbolo > le digo que busque una partial con el nombre --}}
    {{> footer}}
</body>
</html>